body{
    padding:0;
    margin: 0;
    background: #f7f7f7;
}

section{
    background: #f7f7f7;
    height: 100vh;
}


#q h1, #a h1{
    font-family: 'Special Elite', cursive;
    position: absolute;
    padding: 0;
    margin: 0;
    color: #1a1c1a;
}

#q h1{
    font-size: 18vh;
}

#q article h1:nth-child(1){
    top:10vh;
    left: 5vw;
}

#q article h1:nth-child(2){
    top:30vh;
    right: 20vw;
}
#q article h1:nth-child(3){
    top:50vh;
    left: 15vw;
}

#q article h1:nth-child(4){
    bottom:10vh;
    right: 5vw;
}

#a h1{
    font-size: 50vh;
    left:50%;
    top:50%;
    transform: translate(-50%, -50%)
}


#progressBar{
    position: fixed;
    width: 100%;
    height: 7px;
    bottom: 0;
    padding: 15px 0;
}

#progressBar div{
    background: rgba(128, 128, 128, 0.24);
    height: 100%;
    width: 15%;
    
    float: left;
    margin-left:5%;
    border-radius: 100px;
    cursor: grab;
}

#progressBar div:first-child{
    margin-left: 2.5%;
}

.filled{
    background: white !important;
}


#r, #h{
    height: auto;
}

#title_img{
    width:80%;
    display: block;
    margin:auto;
    height:25%;
    object-fit: cover;
    
}

#content, #content1{
    width:60%;
    display: block;
    margin: auto;
    font-family: 'Playfair Display', sans-serif;
}

#content h1, #content1 h1{
    font-size: 6vh;
    margin: 5% 0;
    font-weight: 100;
    font-weight: 700;
}

#content p, #content1 p{
    font-size: 2vh;
}


#content img, #content1 img{
    width: 100%;
    height: 35%;
    object-fit: cover;
    margin-top:3%;
}

#content h2, #content1 h2{
    font-size: 4vh;
    margin: 3% 0;
    font-weight: 100;
}

#content p:last-child, #content1 p:last-child{
    margin-bottom: 10%;
}
